# Ignorar la carpeta .vscode
.vscode/
output/
# Ignorar todos los archivos .dll
*.dll
*.exe
*.o
test
prueba0.cpp
# Ignorar el archivo Makefile
Makefile
ga
test2
test
CodIntermedio.cpp
pru.cpp
pru2.cpp